<div id="login">
	<p class="zhanghao"><a href="#/home"><span></span></a>登录果园账号</p>
	<ul class="login-ul">
		<li>
			<span></span>
			<input type="text" placeholder="手机号码" ng-model="loginCtrl.phoneNum" autofocus="autofocus" maxlength="11"
			minlength="11" />
		</li>
		<li class="second-li">
			<span></span>
			<input type="text" placeholder="验证码" ng-model="loginCtrl.yanzheng" />
		</li>
	</ul>
	<div class="yanzheng"></div>
	<div class="login" ng-click=""><a href="#/home">登录</a></div>
	<ul class="other">
		<li>账号密码登录</li>
		<li>登录遇到问题？</li>
	</ul>
</div>